doctype html
html
  head
    title= title
    link(href="/stylesheets/style.css", rel="stylesheet")
    //link(rel='stylesheet', href='/stylesheets/style.bootstrap.css')
    
  body
    block content
       script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
       script(src='/public/stylesheet/bootstrap.css')
